<!doctype html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/pages/styles.css">
</head>

<body>
<div class="container">
    <h1 class="text-center">אודותינו</h1>
    
    <div class="text-right" style="padding: 20px;">
        <p>כאן יופיע טקסט אודותינו. הטקסט יועדכן בעתיד דרך ה-API בצד השרת.</p>
        <p style="color: #999; font-size: 0.9em; margin-top: 20px;">This is a placeholder. The "About Us" content will be updated in the future via the server-side API.</p>
    </div>
</div>

</body>

</html>
