<!doctype html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/pages/styles.css">
</head>

<body>
<div class="container">
    <h1 class="text-center">מדיניות פרטיות &ndash; יאסו</h1>

    <ol>
        <li class="text-right"><strong>כללי </strong>            <ol>
                <li class="text-justify">מטרת מדיניות פרטיות זו היא לספק פירוט בדבר המידע הנאסף אודותיך עקב השימוש באפליקציה, וכן לסקור את האופן שבו משתמשת חברת יאסו הייצ פי בע&quot;מ <strong>(&quot;החברה&quot;) </strong></li>
            </ol>
        </li>
    </ol>

    <p class="text-justify">במידע שנמסר לה ונאסף על ידה אגב השימוש באפליקציה. </p>

    <p class="text-justify">לתשומת לבך, שירותים אשר מסופקים באפליקציה על ידי צדדים שלישיים יהיו כפופים למדיניות הפרטיות של אותם צדדים שלישיים.<strong> </strong></p>


    <ol>
        <li class="list-none">
            <ol start="2">
                <li class="text-justify">תנאי מדיניות הפרטיות המפורטים להלן מהווים חלק בלתי נפרד מתנאי השימוש באפליקציה. החברה רשאית לשנות מעת לעת את מדיניות הפרטיות ואת תנאי השימוש. </li>
            </ol>
        </li>
    </ol>

    <p class="text-justify">עדכנים ביחס למדיניות הפרטיות כאמור יפורסמו במסמך זה, אשר ימצא במתכונתו המעודכנת באפליקציה. השימוש באפליקציה כפוף למדיניות הפרטיות העדכנית בה, ויעיד על הסכמתך למדיניות הפרטיות וכן לשינויים בה- על כן אנו ממליצים לעיין במדיניות הפרטיות מעת לעת.</p>


    <ol>
        <li class="list-none">
            <ol start="3">
                <li class="text-justify">על ההגדרות והמונחים במדיניות הפרטיות יהיו כמשמעם בתנאי השימוש, אלא אם הקשרם של הדברים מחייב אחרת.</li>
            </ol>
        </li>
    </ol>

    <p class="text-justify">&nbsp;</p>

    <ol start="2">
        <li class="text-justify"><strong>איסוף מידע </strong></li>
    </ol>

    <p class="text-justify">2.1 &nbsp;השירותים באפליקציה טעונים הרשמה ו\או מסירת מידע אישי, כדוגמת שמך, מספר זהותך , מספר הטלפון שלך , פרטי חשבונך , מספר כרטיס אשראי , כתובת הדואר האלקטרוני שלך ופרטים מזהים נוספים, כפי שידרשו מעת לעת.</p>


    <p class="text-justify">2.2 מידע נוסף אודותיך עשוי להיאסף ולהישמר במסגרת השימוש באפליקציה , בין אם הזנת אותו במישרין ובין אם לא, לראות במקרה שמידע כאמור נמסר על ידי משתמשים אחרים או נותני שירותים באפליקציה. למשל :</p>


    <ul>
        <li class="text-justify">פרטי העברה ו\או קבלה של הטבלות :</li>
        <li class="text-justify">התכתבויות עם נציגים ו\או עם נציגים אוטומטיים באפליקציה או מחוצה לה, לרבות צאטים , הקלטות שיחות, סרטונים ו\או תמונות שהם חלק מההתכתבות :</li>
        <li class="text-justify">תוכן אישי (כגון : תיאור מילולי נלווה של פרטי העברות הטבות,ומלל חופשי אחר שתזין בקשר עם השימוש בשירותים ) :</li>
        <li class="text-justify">מספר טלפון של אנשיך במכשירך :</li>
        <li class="text-justify">פניות שונות שלך אל החברה :</li>
        <li class="text-justify">מידע על הרשת הסלולארית בה אתה משתמש : נתונים על מכשיר הקצה שלך,החיבור לאינטרנט וכרטיס ה-SIM שלך , נתוני מיקום המכשיר, ומידע טכני שונה ביחס למכשיר- כתובת , IP סוג וגרסת מערכת הפעלה, גרסאות תוכנה , סוג המכשיר, אזור זמן המכשיר וכיוצא באלו :</li>
        <li class="text-justify">כל מידע הקשור בשימושך ובשירותים , לצורך הפעלתם ובהתאם לבקשתך, לרבות שימוש בשירותים חיצוניים לחברה שבוצעו באמצעות האפליקציה, ולרבות מידע ממקורות חיצוניים המשתקף באפליקציה (כולם יחדיו חלק מהמידע הנמסר על ידך או הנאסף אודותיך ):</li>
        <li class="text-justify">מידע אודות פעולות שלא הושלמו במסגרת השירות (דוגמת הפסקת תהליך לפני שהושלם, לחיצה על כפתור מילוי טופס או הפסקת תהליך המילוי לפני שהושלם, לחיצה על באנרים וכד ):</li>
    </ul>


    <p class="text-right">2.3&nbsp; <strong>מוובהר כי אינך מחויב על פי דין למסור את כל פרטי המידע האמורים, ומסירתם תלויה אך ברצונך ובהסכמתך החופשיים</strong>. ללא מסירת פרטים (למשל,ללא הזנת פרטי כרטיס חיוב ) לא נוכל לתפעל ולספק את השירותים , חלקם או כולם. אולם, מסירת חלק מהפרטים מחויבת על פי הוראות דין , כדוגמת הפרטים הנדרשים מכוח דיני איסור הלבנת הון או העברת דיווחים שהחברה נדרשת לבצע על פעילותה ועל פעילות המשתמשים באפליקציה לכל רשות ממלשתית או גוף מומסך אחר, בישראל או מחוץ לישראל ,וזאת אף מבלי שתהיה חייבת ליידע את המשתמש לפני ביצוע הדיווח או לאחר מכן , וכן פרטים נוספים שנדרשים על מנת לאפשר לך לקבל מידע ולבצע פעולות שונות.</p>

    <p class="text-right">2.4 כלל המידע שנמסר או ייאסף אודותיך לצורך אספקת השירותים, כולם או מקצתם, או במהלך אספקתם , יישמר במאגרי המידע הרשומים של החברה, ויחזק על ידה או על ידי מי מטעמה , לרבות באמצעות שירותי &quot;ענן&quot; , בארץ ובחו&quot;ל. השימוש במידע יהיה &nbsp;<u>יבוצע באמצעות כתובות מורשות בלבד </u>ובהתאם למטרות מאגרים אלו ולאמור במידניות זו ו\או במדיניות הפרטנית של השירו בו אתה משתמש.</p>

    <p class="text-right">2.5 <strong>Cookies </strong></p>

    <p class="text-right">2.5.1 בחלק מהשירותים ייתכן שנשתמש בתוכנות צוברות מידע דוגמת, pixles,tags, sdk&#39;s, beacons, (להלן יחדיו יכונו בשם הגנרי &quot;<strong> Cookie</strong><strong>&quot; או &quot; עוגיות &quot;).</strong></p>

    <p class="text-right">2.5.2 עוגיות ,באופן כללי , הן קבצי טקסט אשר האפליקציה יוצרת לפי פקודה ממחשבי החברה. חלק מהעוגיות יפקעו כאשר תסגור את היישום הרלוונטי , ואחרות נשמרות על גבי זיכרון המכשיר או המחשב שלך. החברה או צדדים שלישיים המפעילים את העוגיות,יכולים לגשת מעת לעת למידע הנצבר בעוגיות והוא יעבור לשירותים שלהן. מחיקת העוגיות מזיכרון המכשיר שלך לא תמחק מידע שכבר הועבר לחברה או לצדדים שלישיים באמצעות העוגיות.</p>

    <p class="text-right">2.5.3 העוגיות מכילות ואוספות מידע מגוון כדוגמת הדפים שבהם ביקרת , משך הזמן ששהית באפליקציה, מהיכן הגעת אל הדף , כתובת ה- IP &ndash; שלך , מאפייני המכשיר שלך , מידע שתבקש לראות בעת הכניסה לאתר ועוד. כמו כן יכול והעוגיות ישמרו אף מישע בשבר הרגלי הגלישה שלך באתרים אחרים, לרבות אתרים ואפליקציות בהם גלשת , ופעולות אחרות שביצעת בהם. המידע בעוגיות מוצפן , והחברה נוקטת צעדי זהירות כדי להבטיח שרק מחשבי החברה או מי מטעמה (לרבות צדדים שלישיים הנותנים לחברה שירותים שונים , כאמור במדיניות זו ) יוכלו לקרוא ולהבין את המידע האגור בהן. עם את , יובהר שכאשר מדובר בעוגיות הנוצרות או מופעלות על ידי צדדים שלישיים , לחברה אין שליטה על הצפנת הנתונים הנשמרים בהן ועל הגישה למידע, כמו גם הצלבתו עם פרטי מידע נוספים , ושימושים כאמור כפופים למדיניות הפרטיות של אותם צדדים שלישיים.</p>

    <p class="text-right">2.5.4 אנו עושים שימוש בעוגיות לצורך תפעול שוטף ותקין של השירותים, לשם קבלת החלטות בנוגע לשירותים ו\או לפעילותך, לשם שיפור חווית הגלישה תוך התאמת התכנים והשירותים להעדפותיך האישיות, לשם אפיון המוצרים המתאימים לך , התאמת פרסומות הרלוונטיות עבורך (אף בגלישתך באתרים אחרים) ,וכן למטרות סטטיסטיות , מחקריות , שיווקיות ומסחריות .בנוסף ,העוגיות משמשות אותנו לשם אבטחת הנתונים והמידע הנמסר על ידך, לצרכי אבטחת מידע אחרים , לשם אימות פרטים וזיהוי, ולמניעת הונאות ותרמיות. </p>


    <p class="text-right">2.6<strong>Google Analytics </strong><strong>&nbsp;</strong></p>

    <p class="text-right">האפליקציה עשויה להשתמש בכלי הנקרא &quot;<strong>Google Analytics&quot; </strong><strong>&nbsp;&nbsp;</strong>&nbsp;על מנת לאסוף מידע אודות השימוש בה. <strong>Google Analytics</strong> אוסף מידע כגון תדירות ביקורי המשתמשים באפליקציה, העמודים בהם הם מבקרים ובאלו אתרים הם משתמשים לפני הכניסה לאפליקציה. החברה משתמשת במידע המתקבל מ<strong> Google Analytics</strong><strong> </strong>על מנת לתחזק ושלשפר את האפליקציה . החברה אינה משלבת בין המידע שנאסף במסגרת השימוש <strong>Google Analytics</strong><strong> </strong>ובין מידע אישי מזהה. יכולתה של <strong>Google </strong>&nbsp;להשתמש ולשתף מידע שנאסף באמצעות <strong>Google Analytics </strong>&nbsp;אודות ביקורי משתמשים ושימושים באפליקציה הינם בהתאם וכפוף לתנאים של גוגל.</p>


    <p class="text-right"><strong>2.7 גישה למידע במכשיר שלך </strong></p>

    <p class="text-right">2.7.1אתה עשוי להתבקש לאשר גישה לנתונים מסוימים ממכשירך, בין אם מהטלפון הנייד או כל מכשיר קצת אחר , זאת לטובת ביצוע פעולות מסוימות (הכל בהתאם למטרות השימוש המפורטות במדיניות פרטיות זו). הרשאות אלו כוללות, אך אינן מוגבלות ל :</p>

    <ul>
        <li class="text-right">גישה לרשימת אנשי הקשר &ndash; על מנת לאפשר ביצוע העברות של הטבות.</li>
        <li class="text-right">גישה למצלמה לצורך סריקת קוד QR לצורך צילום תעודה מזההו\או מסמכים לצורך זיהוי ואימות.</li>
        <li class="text-right">גישה לגלריית התמונות &ndash; לרבות לצורך העלאת תעודה מזהה ו\או מסמכים.</li>
        <li class="text-right">גישה לשירותי התראות בדחיפה- (push noificatuon) על מנת שתוכל לקבל התראות בדחיפה על מגוון פעולות בחשבון ועל שירותים שונים שעשויים להיות לך עניין בהם.</li>
        <li class="text-right">גישה לנתוני זיהוי \ זהות מכשיר &ndash; (Read phone state ) על מנת ליצור מזהה ייחודי ברישום לשירותים שונים. זיהוי, אימות ובדיקות אבטחה.</li>
    </ul>

    <p class="text-right">2.7.2 אינך חייב לאשר גישה לנתונים אלו ותוכל לבטל את הגישה אליהם באמצעות מכשירך, אולם ביטול הגישה כאמור תוביל לכך שלא תוכל לקבל את מלוא השירותים או כלום.</p>

    <p class="text-right"><strong>3. שימוש במידע שמתקבל ממך או נאסף אודותיך.</strong></p>

    <p class="text-right">3.1 החברה ראית לעשות שימוש במידע לשם ניהול ותפעול השירותים המוצעים לך, יצירת הקשר עמך, קבלת החלטות ביחס אליך או אחרים , לרבות בנושאים של מניעת הונאות ,גילוי תרמיות ו\או פעילות בלתי חוקית אחרת, אבטחת השירותים , מטרות תפעוליות , הערכה וניהול סיכונים.</p>

    <p class="text-right">3.2 בנוסף המידע ישמש על מנת לשפר, להעשיר או לשנות את השירותים והתכנים המוצעים במסגרתם, על מנת לייעל ולנהל את הקשר עמך וכן לשם עריכת סקרים באשר לשירותים והמוצרים המוצעים על ידי החברה ומי מטעמה או על ידי צדדים שלישיים הקשורים עם החברה בהסכם , הן ביחס לשירותי האפליקציה והן ביחס ליתר שירותי ומוצרי החברה.</p>

    <p class="text-right">3.3 החברה תוכל לעשות שימוש, לעבד, לטייב ולהעשיר את המידע הנ&quot;ל , לרבות באמצעות ספקי שירותים ומידע חיצוניים , למטרות ניהול , ייעול. התאמה פרסום&nbsp; ושיווק של שירותי ומוצרי החברה צדדים קשורים לה או שותפיה העסקיים , בין היתר על ידי יצירת אפיון אודותיך , לרבות על ידי הצעת הצעות שיווקיות המתואמות אישית עבורך, וכן לעשות שימוש בנתונים שלא יזהו אותך באופן אישי, למטרות נוספות &ndash; דוגמת מחקר והסקת מסקנות אודות השימוש בשירותים ו\או המשתמשים בהם.</p>

    <p class="text-right">3.4 החברה עשויה לשלוח אליך הודעות תפעוליות ושירותיות והתראות בדרכים שונות ובין היתר ובאמצעות דואר אלקטרוני , התראות קופצות במכשירך או באמצעות מסרונים, כגון מסרון המכיל קוד הזדהות לשם גישה לאפליקציה ו\או לאתר, או לשם שחזור סיסמא והתחברות והתקנה של האפליקציה , ושימושים שונים בשירותים.</p>

    <p class="text-right">3.5 בנוסף, החברה תהיה רשאית לפנות אליך לרבות בדרך של משלוח דיוור פרסומי ,ולהציע לך הצעות , הטבות ומבצעים , לרבות מותאמים אישית. בקשר עם מוצריה ושירותיה כמו גם ביתר שירותי ומוצרי החברה באמצעות דואר אלקטרוני , מסרונים , טלפון או אמצעים אחרים , וזאת בהתבסס על פרטיך והמידע אודותיך השמורים אצלה. תוכל לבקש להסיר את פרטיך מרשימת התפוצה של פניות שיווקיות באמצעות&nbsp; לחיצה על הקישור &quot; הסרה מרשימת התפוצה &quot; אשר יופיע כל הודעה או באמצעות משלוח מספר הטלפון שלך בהודעת דואר אלקטרוני , שכותרתה &quot; בקשת הסרה &quot; , לכתובת דוא&quot;ל . נבקשך לא לשלוח באמצעות הדואר האלקטרוני פרטים אישיים נוספים.</p>

    <p class="text-right">3.6 כמו כן, בכפוף להסכמתך לפי כל דין , תהיה החברה רשאית להעניק לצדדים שלישיים שירותי דיוור ישיר, לרבות פניות , הצעות , הטבות ומבצעים מותאמים אישית שיישלחו אליך בקשר עם מוצרים ושירותים של אותם צדדים שלישיים. תוכל לבקש החברה תחדל לבצע פעולות דיור ישיר כאמור ביחס למידע שלך , באמצעות פניה באמצעים שיפורטו הודעות שיישלחו אליך.</p>

    <p class="text-right">3.7 באפליקציה עשויים להופיע פרסומות ו\או קישורים שונים לאתרים ו\או יישומים חיצוניים. לחיצה על הקישור תעשה על דעתך ועל אחריותך בלבד, שכן תצא משירותי האפליקציה ותופנה לאתר ו\או יישום חיצוני , ותהיה כפוף לתנאיו , לרבות מדיניות הפרטיות שלו . מאותו שלב לחברה לא היה שליטה על הנעשה במידע שלך, ולפיכך לא תישא באחריות וביחס לכך. </p>

    <p class="text-right">4<strong>. מסירת מידע לצד שלישי</strong> </p>

    <ul>
        <li class="text-right">לכל אדם, תאגיד, גוף, רשות וגורמים ממשלתיים , ציבוריים, פרטיים או אחרים על פי כל הוראה בדין המחייבת או המטילה על החברה חבות לעשות זאת או על פי דרישתו של גורם כאמור על פי דין , וכל העברת מידע הנדרשת לצורך יום חובות החברה בקשר למניעת הלבנת הון : </li>
        <li class="text-right">לצרכי בירור טענות וניהול הליך משפטי או מחלוקת משפטית שבניך או מטעמך לבין החברה או מטעמה , לרבות צדדים שלישיים הקשורים עימה עסקית או צדדים נגדיים לפעולה שביצעת : </li>
        <li class="text-right">בכל מקרה בו תסבור החברה , כי מסירת המידע נחוצה על מנת למנוע נזק חמור לחברה, לרכושה או לגופו של המשתמש או של צדדים שלישיים, או על מנת למנוע נזק חמור אחר לפי שיקול דעתה הבלעדי: </li>
        <li class="text-right">במקרה בו העבירה או המחתה החברה לצד לשישי את פעילותה או את זכויותיה וחובותיה כלפי המשתמש , או את חלקם &ndash; לרבות האפליקציה עצה או חלק בה, ובלבד שצדדים שלישיים כאמור יקבלו על עצמם את ההוראות המפורטות במדיניות פרטיות זו.</li>
    </ul>



    <p class="text-right">4.3 החברה עשויה למסור מידע סטטיסטי לצדדים שלישיים, לרבות מפרסמים , וזאת בכפוף לתנאי מדיניות פרטית זו. מידע סטטיסטי שיימסר לצדדים שלישיים לא יזהה אותך באופן אישי וישמש , בין היתר על מנת לשפר , להעשיר או לשנות את השירותים והתכנים על ידם.</p>


    <p class="text-right">4.4 אין באמור לעיל בכדי לגרוע מזכות החברה להעביר לצדדים שלישיים מידע שאינו אישי, אשר אין בו בכדי לזהות אותך בשמך ו\או בפרטי זהות באופן ישיר.</p>







    <p class="text-right">5. <strong>אבטחת מידע</strong></p>


    <p class="text-right">החברה עושה מאמצים ניכרים כדי להגן על סודיות, שלמות וזמינות .</p>

    <p class="text-right">הנתונים אשר נמסרו על ידי המשתמש באפליקציה , זאת תוך כדי נקיטת אמצעי זהירות מקובלים , שימוש בטכנולוגיות אבטחה מתקדמות , והקצאת משאבים לשם מנית חדירה למערכות המידע הקשורות בהפעלת השירותים, ולסיכול פגיעה אפשרית בפרטיות המשתמש <u>וצמצום השפעת פגיעות אלו והנזק שעלול להיגרם מהן למשתמשים בטרם התחרשותן, ובמהלכן ולאחריהן. </u>ואולם, החברה אינה יכולה להבטיח כי ל איהיה כל שימוש בלתי מורשה או שיבוש בשירותים.</p>


    <p class="text-right">6.<strong>יצירת קשר בנושא פרטיות </strong></p>

    <p class="text-right">על &ndash; פי הגנת הפרטיות , התשמ&quot;א &ndash; 1981 , אתה או מטעמך , רשאי לעיין במידע אודותיך אשר מצוי במאגרי החברה ואף לבקש מהחברה לתקן מידע זה אם אינו נכון , שלם או מדוייק.</p>


    <p class="text-right">בנוסף, הינך רשאי לדרוש מהחברה כי המידע לגביך יימחק ממאגר המידע של החברה על ידי שליחת מייל לכתובת והחברה מתחייבת לפעול בהתאם.</p>

</div>

</body>

</html>
