<!doctype html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/pages/styles.css">
</head>

<body>
    <div class="container">
        <ol>
            <li class="text-right"><strong>כללי </strong>
                <ol>
                    <li class="text-right">&nbsp;השימוש באפליקציית יאסו (&quot;האפליקציה&quot;) כפוף לתנאי השימוש
                        המפורטים להלן (להלן &quot;תנאי השימוש &quot;) לרבות האמור במדיניות הפרטיות המופיעה באפליקציה .
                        השימוש באפליקציה מהווה הסכמה מפורטת מצדך (להלן: &quot;המשתמש&quot;) לתנאים כאמור.</li>
                </ol>
            </li>
        </ol>


        <ol>
            <li class="list-none">
                <ol start="2">
                    <li class="text-right">&nbsp;השימוש באפליקציה הינו למטרות חוקיות בלבד ומותר אך ורק למשתמשים בגירים
                        אשר כשירים משפטית או לתאגידים.</li>
                </ol>
            </li>
        </ol>


        <ol>
            <li class="list-none">
                <ol start="3">
                    <li class="text-right">מטרת תנאי השימוש היא להבהיר את היחסים בין מפעילת האפליקציה , חברת יאסו
                        Yassuh.f &nbsp;בע&quot;מ (להלן: &quot; החברה לבין כל אדם ו\או גוף הנכנסים לאפליקציה ו\או
                        במשתמשים באפליקציה .)</li>
                </ol>
            </li>
        </ol>


        <ol>
            <li class="list-none">
                <ol start="4">
                    <li class="text-right">&nbsp;שימוש באפליקציה מהווים הסכמה מצד המשתמש להוראות ולתנאים אלה והתחייבויות
                        לפעול לפיהם. אם המשתמש אינו מסכים לכל תנאי השימוש, הינו נדרש לא לעשות שימוש באפליקציה. החברה
                        שומרת לעצמה את הזכות להפסיק את שימוש שכל משתמש באפליקציה אם לא יעמוד באחד או יותר מתנאי השימוש \
                        או מסיבות אחרות .</li>
                </ol>
            </li>
        </ol>


        <ol>
            <li class="list-none">
                <ol start="5">
                    <li class="text-right">האפליקציה מאפשרת בין היתר העברת הטבות בין משתמשיה , לרבות הטבות כספיות, מתנות
                        , זיכויים ושוברים (להלן: &quot; הטבות &quot; ) , ככל שהן אינן מוכרות כהכנסה לצורכי מס. סרטנים,
                        הודעות, מצגות, תמונות ויוצא בזה.</li>
                </ol>
            </li>
        </ol>


        <ol start="2">
            <li class="text-right"><strong>הצטרפות לשירות באופן מקוון </strong>
                <ol>
                    <li class="text-right">לצורך הצטרפות לשירות יש להוריד את אפליקציית יאסו בחנות של חברת Apple ו\או
                        Google . או מכל חנות או רשת שתאושר מעת לעת.</li>
                    <li class="text-right">בתהליך ההצטרפות המקוון ידרשו פרטי זיהוי שונים כגון : שם פרטי ומשפחה, מספר
                        זהות , מספר טלפון סלולרי , תאריך לידה וכתובת מייל. לפני העברת או קבלת הטבה ולפני משיכה של הטבה
                        יידרש המשתמש למסור פרטי כרטיס חיוב של שם המשתמש או פרטי חשבון המתנהל על שם המשתמש בבנק ישראל.
                        החברה רשאית לדרוש , מעת לעת , פרטי זיהוי נוספים לקבוע דרכי זיהוי ואימות אחרים.</li>
                    <li class="text-right">חובה למסור פרטים מלאים ונכונים בלבד וכן לעדכן את שירות לקוחות החברה כל שינוי
                        שחל באותם פרטים באופן מיידי. פרטים אלו ישמשו את החברה בין היתר כדי לייצור קשר עם המשתמש במידת
                        הצורך.</li>
                    <li class="text-right">הפרטים והנתונים שנמסרו במעמד ההצטרפות צפויים להישמר, כולם או חלקם , במאגר
                        מידע של החברה אצלה או אצל ממטעמה ולשמש את החברה, בהתאם לדין, לתנאי השימוש ולמדיניות הפרטיות.
                    </li>
                    <li class="text-right">ההרשמה והשימוש באפליקציה מהווים אישור של המשתמש לכך שאין כל מגבלה לפני כל דין
                        והסכם החלים עליה ,אוסרת עליו &nbsp;או מגבילה אותו להצטרף לשירות ולהשתמש באפליקציה.</li>
                </ol>
            </li>
        </ol>



        <ol start="3">
            <li class="text-right"><strong>השירות </strong>
                <ol>
                    <li class="text-right">השימוש בשירותים המוצעים באפליקציה יהיה בהתאם לדין ויעשה בתום לב ובדרך מקובלת.
                        לא יעשה בה כל שימוש לרעה או כל שימוש בניגוד לדין או לתקנת הציבור&nbsp; או כל שימוש לא סביר או
                        למטרות אחרות מאלו שלשמן נועד השירות, לרבות ביצוע העברת הטבות בלתי חוקיות או אסורות או העברות לשם
                        עקיפת המגבלות הנוגעות לדיווחים בקשר עם איסור הלבנת הון או התחזות לכל אדם או ישות משפטית אחרת.
                        מבלי לגרוע מזכויות החברה, כל העובר על איסור כאמור, ישפר את החברה על כל נזק שיגרום לה כתוצאה מכך.
                    </li>
                    <li class="text-right">בכל קמרה של שימוש בניגוד לאמור כהוראות תנאי השימוש, לרבות במקרה שפעילות
                        המשתמש נחסמה\ הוגבלה, לא תישא החברה בכל אחריות עקב כך ותהיה רשאית לחסום את החשבון האישי של
                        המשתמש ו\או לבטל העברה של הטבות שבוצעו ו\או להגבילן.</li>
                    <li class="text-right"><u>מבלי לגרוע מהאמור לעיל, אין לעשות כל שימוש באפליקציה לצורך ביצוע העברת
                            הטבות בתחומי הפעילות הבאים , ככל שהפעילות אינה נעשית תחת רישיון רגולטורי בתוקף :</u> </li>
                </ol>
            </li>
        </ol>


        <ol>
            <li class="list-none">
                <ol>
                    <li class="list-none">
                        <ol>
                            <li class="text-right"><u>עסקאות שאספקת הכנס\ השירות אינה מיידית .</u></li>
                            <li class="text-right"><u>עסקאות במטבעות וירטואלים \קריפטוגרפיים.</u></li>
                            <li class="text-right"><u>עסקאות הלוואות או אשראי, שירותים פיננסים מכל סוג, לרבות פריטת כסף
                                    או המרת כספים כדרך עיסוק.</u></li>
                            <li class="text-right"><u>תוכן ושירותים למבוגרים.</u></li>
                            <li class="text-right"><u>הימורים</u></li>
                            <li class="text-right"><u>סמים</u></li>
                            <li class="text-right"><u>סחר ביהלומים</u></li>
                            <li class="text-right"><u>סחר בנשק</u></li>
                            <li class="text-right"><u>עסקאות בני&quot;ע ערך, אופציות בינאריות ופורקס.</u></li>
                            <li class="text-right"><u>כל פעילות אסורה על פי דין, לרבות הלבנת הון ומימון טרור ולרבות כל
                                    פעילות המחייבת רישיונות או היתרים- ככל שאין בידי הצדדים הרלוונטים את כל הרישיונות
                                    וההיתרים הדרושים או שהם אינם תקפים.</u></li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>


        <ol>
            <li class="list-none">
                <ol start="4">
                    <li class="text-right"><u>בכל מקרה של שימוש בניגוד לאמור בסעיף 3.3 לעיל ובניגוד לאמור ביתר הוראות
                            תנאי השימוש, לרבות במקרה שפעילות המשתמש נחסמה\ הוגבלה , לא תישא החברה בכל אחריות עקב כך.</u>
                    </li>
                    <li class="text-right">&nbsp;החברה תהיה רשאית לפנות אל כל משתמש בכל עת על מנת לברר כל פרט הנוגע
                        לשימושים באפליקציה. בכל מקרה כאמור, המשתמש מתחייב לשתף פעולה ולספק לחברה את המידע שיידרש.</li>
                </ol>
            </li>
        </ol>


        <ol start="4">
            <li class="text-right"><strong>חשבון אישי </strong>
                <ol>
                    <li class="text-right">בהצטרפות לשירות יפתח על שמו של המשתמש חשבון איי באפליקציה אשר יזוהה לפי מספר
                        הטלפון הנייד שעימו נרשם לשירות, אשר ישמש לצבירת ההטבות לזכותו (לעיל ולהלן :&quot;<strong>החשבון
                            האישי</strong> &quot;) <u>.</u></li>
                    <li class="text-right">&nbsp;כל משתמש רשאי לפתוח רק חשבון אישי אחד. זאת, גם אם הוא פותח חשבון לתאגיד
                        כמורשה מטעמו.</li>
                    <li class="text-right">במקרה של העברת הטבה שניתן לכמתה בסכום כספי, אשר אינו עולה על היתרה בחשבון
                        האישי, יחויב החשבון האישי בסכום ההטבה אלא אם תינתן על ידי המשתמש הוראה לחיוב כרטיס החיוב המועדכן
                        באפליקציה . במקרה בו אין יתרה מספקת בחשבון האישי לחיוב מלוא סכום ההטבה המועברת , יחויב כל סכום
                        ההטבה מכרטיס החיוב שהוזן.</li>
                    <li class="text-right">המשתמש יהיה אחראי לעקוב אחרי הפעולות הנרשמות בחשבונו האישי באופן שוטף : אם
                        יהיו למשתמש שאלות ו\או השגות על אילו מהפעולות או הסכומים שנרשמו בחשבונו האישי , עליו לפנות באופן
                        מיידי וללא כל שיהוי לשירות הלקוחות של החברה ולא יאוחר מ-30ימים מביצוע הפעולה הרלוונטית, אלא אם
                        נקבע מועד אחר בדין.</li>
                    <li class="text-right">בנוסף, פעולות שבוצעו תוך חיוב כרטיס החיוב יופיע בדיווחים של חברת כרטיס
                        האשראי, שהנפיקה את כרטיס החיוב. ידוע למשתמש, כי בדפי החיוב של חברת כרטיסי האשראי עשויה החברה
                        להופיע כבית העסק מקבל ההטבה, גם אם יעד הפעולה היה גורם אחר. כן ייתכן מצב שבו פעולה תופיע הן
                        בפירוט העברות באפליקציה והן בדיווחי חברות כרטיסי האשראי.</li>
                </ol>
            </li>
            <li class="text-right"><strong>העברת הטבות </strong>
                <ol>
                    <li class="text-right">משמש יוכל לבקש לרשום בחשבונו האישי אמצעי תשלום המונפק על שמו בישראל (כרטיס
                        חיוב ) שישמש לצורך מתן הטבות וכן לצורך ביצוע זיכוי, כפי שתאפשר החברה ובהתאם לתנאים ולמגבלות
                        שתקבע מעת לעת , וכן חשבון בנק המתנהל על שמו בתאגיד בנקאי בישראל שישמש לצורך משיכת הטבות מהחשבון
                        האישי. </li>
                    <li class="text-right">כל העברת הטבות או קבלת הטבות מהייבת שימוש באפליקציה במכשיר נתמך, ומחייבת עת
                        העברת הטבות למשתמש אחר גם הזנת רכיב חיוני (כהגדרתו להלן). </li>
                </ol>
            </li>
        </ol>

        <p class="text-right">את מקבל ההטבה בוחרים מתוך רשימת אנשי הקשר של המשתמש או על ידי הזנת מספר הטלפון שלו
            או כמענה לבקשת הטבה.</p>


        <p class="text-right"><u>&quot; מכשיר נתמך &quot; מכשיר טלפון לרבות מכשירים דומים כגון מכשירי טאבלט ) ,
                אשר בהתאם לגירסת החומרה .. והפעלה שלו, ניתקן להתקין בו את האפליקציה והוא תואם את הדרישות הטכנולוגיות שלה
                לרבות היותו בעל פרוטוקול גלישה אינטרנטית. באמצעות רשת הסלולר או באמצעות רשת הסלולר או באמצעות </u><u>wi
                &ndash; fi </u><u>&nbsp;המחובר באופן תקין בעת השימוש (נכון למועד זה השימוש אפשרי בכל מכשירי ה-
            </u><u>iphone</u><u> גרסת 11 </u><u>IOS</u><u> ומעלה או מכשירים מבוססי </u><u>Android </u><u>&nbsp;גרסת 6.0
                ומעלה ). האפליקציה מאפשרת הפעלה ממכשיר טלפון נתמך אחד, בכל עת, ולכן מכשיר הטלפון הנתמך הוא המכשיר האחרון
                בו בוצעה הפעלה של האפליקציה .</u></p>


        <p class="text-right"><strong>&quot;רכיב חיוני &quot; </strong><u>בהתאם לחוק שירותי תשלום, תשע&quot;ט
                &ndash; 2019 (להלן: &quot; <strong>חוק שירותי תשלום &quot;) &nbsp;</strong></u>הוא שילוב של הדברים הבאים
            : מכשיר הטלפון הנתמך בו בוצעה הפעלה של האפליקציה. ביחד עם הקוד האישי או אמצעי זיהוי ביומטרי או אחר שנבחר על
            ידי המשתמש ייחשב לרכיב חיוני , הנדרש לצורך הפעלה ראשונה של האפליקציה בטלפון. הקוד האישי או באמצעי הביומטרי
            הוא פרט אימות מוגבר על פי החוק <u>שירותי תשלום.</u></p>

        <ol>
            <li class="list-none">
                <ol start="3">
                    <li class="text-right">בקשת משתמש לרישום אמצעי תשלום בחשבונו מהווה הרשאה לביצוע חיובים וזיכויים
                        באמצעי התשלום, בין על רקע העברת הטבות ובין לצרכים אחרים , על ידי החברה בהתאם להוראות של המשתמש
                        שיימסרו לחברה.</li>
                    <li class="text-right">עם ביצוע הוראות העברה כלשהי , לרבות העברה של הטבה כספית, יופיע למשתמש במסך
                        הודעה ובה יצוין צפי המועד לזיכוי בהתאם לדין.</li>
                    <li class="text-right">החברה תהיה רשאית לקבוע ולעדכן מעת לעת את סך הפעילות להעברה או סך הקבלה של
                        הטבות במסגרת השירות נכון להיום, ניתן להעביר הטבות בסכום מצטבר של עד&nbsp; 2500 ₪ בשנה. </li>
                    <li class="text-right">החשבון האישי של המשתמש יזוכה בכלל בהטבה שהועברה אליו, אלא אם העברת ההטבה
                        חורגת מתנאי השימוש או מחייבת בדיקות או פעולות משלימות על פי הדין או לפי שיקול דעת החברה ותנאי
                        שימוש אלו.</li>
                    <li class="text-right">משתמש רשאי לבחור אם למשוך הטבה כספית שהצטברה בחשבונו האישי לחשבון בנק או
                        לזכות את כרטיס החיוב שהוזן בעת ההרשמה לאפקליציה , או להותיר את ההטבה הכספית בחשבונו האישי
                        באפליקציה.</li>
                    <li class="text-right">כל העברה של הטבות שבמסגרתה נעשה שימוש בכרטיס חיוב , כפופה כתנאי מקדמי מצד
                        החברה, לקבלת אישור חברת כרטיס האשראי לביצוע העברה . היה ולא התקבל אישור חברת כרטיסי האשראי
                        במועד, החברה לא תהיה מחויבת לבצע את הפעולה . כל פעולה בכרטיס חיוב כפופה. בנוסף לתנאי שימוש אלה,
                        לתנאים שנקבעו בין המשתמש לבין מנפיק כרטיס החיוב וכן לכללים ולתנאים הנוגעים לסליקת עסקאות בכרטיסי
                        חיוב ולכללים הארגונים הבינלאומיים, המפעילים את מותגי כרטיס החיוב ( כגון &quot;ויזה &quot;&nbsp;
                        או &quot; מסטארקארד&quot; ) . כל העברה של הטבה שאינה כספית כפופה לתנאי הספק של אותה הטבה.</li>
                    <li class="text-right">האחריות היא על המשתמש המעביר להזין פרטי חשבון ( מספר חשבון , מספר סניף ומספר
                        בנק ) וכרטיס חיוב, מדויקים ועדכניים כמו כן, לוודא שאיש הקשר שבחר לביצוע ההעברה הוא הנעמן הנכון
                        לביצוע ההעברה ולוודא שמספר הטלפון השמור תחת אותו איש קשר הוא מספר הטלפון הנכון שכן מספר הטלפון
                        של איש השקר הנבחר הוא פרט המידע היחיד שלפיו ממענת האפליקציה את הוראת ההעברה. במקרה של טעות בהקלת
                        פרטי החשבון או פרטי כרטיס החיוב או מספר הטלפון של נמען ההעברה, לא תחול על החברה כל אחריות בשום
                        צורה ואופן, לרבות לביטול ההעברה ולהשבת ההטבות. האחריות לוודא את נכונתו מוטלת על המשתמש.</li>
                    <li class="text-right">משתמש יוכל להעביר הטבות גם למי שאינו משתמש רשום באפליקציה. במקרה זה מקבל
                        ההעברה יקבל הודעה שמזמינה אותו להירשם לאפליקציה , ככל שיצטרף כמשתמש רשום באפליקציה, יזוכה חשבונו
                        האישי באפליקציה בהטבה שהועברה. </li>
                    <li class="text-right">החברה תוכל מטעמים סבירים לעכב או לסרב לבצע כל בקשה להעברת הטבות וכן לבטל
                        העברה שבוצעה ( תוך חיוב של הצד הנגדי לאותה העברה , דהיינו משתמש שקיבל את ההטבות ). מובהר עם זאת,
                        כי החברה אינה מחוייבת לבצע בקרה או פיקוח כאמור וביצוע העברה אין בה כשלעצמה אישור של החברה לכך
                        שהיא עומדת בתנאים דלעיל ואין להסתמך על ביצוע כאילו החברה אישרה שהיא תקינה.</li>
                    <li class="text-right">ידוע למשתמש כי החברה נוקטת באמצעי בקרה שונים ומגוונים לאבטחת הפעילות
                        באפליקציה. למרות האמור, בכל מקרה יתברר לחברה כי בוצעו בחשבון האישי זיכויים או חיובים שגויים,
                        תהיה החברה רשאית לחייב או לזכות את החשבון , לפי העניין , בסכום ההטבה השגוי , על מנת לתקן את
                        הטעות ולהשיב את המצב לקדמותו.</li>
                </ol>
            </li>
        </ol>


        <p class="text-right"><strong>6.אבטחת מידע </strong></p>

        <p class="text-right">6.1 החברה נוקטת באמצעי אבטחת מידע לשם אבטחת המידע הכלול באפליקציה ו\או אשר הועבר במסגרתה ,
            התאם לנדרש בדין וברגולציה החלים עליה, אולם אין מערכת המאובטחת באופן מוחלט וחרף אמצעי האבטחה השונים יתכנו
            כשלים באבטחת המידע ( כגון יירוט, גישה בלתי מורשות וכד ). אין באפשרות החברה למנוע באופן מוחלט פריצות אבטחה
            והחברה אינה מתחייבת לכך ולא תישא באחריות בגין כך, לרבות במקרה של חשיפת פרטים או חדירה </p>

        <p class="text-right">שלא כדין למערכות החברה.</p>

        <p class="text-right"><strong>7. גניבה או אובדן או שימוש לרעה באפליקציה </strong></p>

        <p class="text-right">7.1 המשתמש יודיע מיד לחברה באמצעות שירות הלקוחות בכל מקרה מהמקרים הבאים :</p>

        <p class="text-right">אובדן או גניבה של כל אחד מחלקי הרכיב החיוני: או שימוש לרעה בחשבונו האישי וימסור לחברה את
            כל הפרטים הידועים לו בקשר לכך, ומתחייב לפעול בהתאם להנחיות שיינתנו.</p>

        <p class="text-right">7.2 המשתמש לא יהיה אחראי בשום מקרה לשימוש לרעה שיעשה לאחר מסירת ההודעה.</p>

        <p class="text-right">7.3 החברה תהיה רשאית לחייב את המשתמש בגין כל העברת הטבה שנעשתה לפני מסירת ההודעה. לפי
            הסכום הקובע כדין.</p>



        <p class="text-right"><strong>8. הקפאה, התנתקות מהשירות וסיום התקשרות </strong></p>

        <p class="text-right">&nbsp;8.1המשתמש רשאי להתנתק מן השירות בכל עת באמצעות פניה למוקד שירות הלקוחות. ההתנתקות
            תבוצע לאחר השלמת הפעולות הנדרשות , בהתאם להנחיות מוקד השירות. ההתנתקות מהשירות משמעותה הפסקת היכולת לבצע כל
            פעולה באפליקציה באמצעות מספר הטלפון של המשתמש, באופן קבוע. לצורך חידוש השימוש יהיה צורך בפנייה לשירות
            הלקוחות . מובהר, כי מחקת האפליקציה כשלעצמה אינה מהווה התנתקות מהשירות או הקפאת השימוש ואינה מוחקת מידע הקיים
            אצל החברה. יש לבצע התנתקות מהשירות לפני כל העברה או העברת זכויות בטלפון בו מותקנת האפליקציה ו\או כרטיס Sim
            &nbsp;אליו משוייך מספר הטלפון הסלולרי עימו גרשם המשתמש לשירות, לרבות כירה, החזרת טלפון שסופק על ידי מקום
            עבודה למעסיק וכו . לצורך כך, יש לסגור זיהוי המשתמש באמצעות מספר הטלפון המשויך אליו על ידי פניה למוקד שירות
            הלקוחות וכן לבקש להעביר את החשבון האישי הקיים למספר הטלפון&nbsp; וסיום ההתקשרות יבוצע בתוך פרק הזמן שנקבע
            לכך בחיק.</p>

        <p class="text-right">8.2 החברה רשאית לסיים את ההתקשרות בכל עת, בכפוף להודעה מוקדמת שלא תפחת מ-7 ימים. למרות
            האמור לעיל, החברה רשאית לסיים את ההתקשרות באופן מיידי, ללא הודעה מוקדמת ,&nbsp; במקרה של נסיבות חריגות
            המצדיקות זאת. </p>

        <p class="text-right">8.3 בנוסף, החברה רשאית להקפיא את השירות בכל עת, מסיבות סבירות. במסגרת הקפאת השירות. החברה
            רשאית לחסום העברת הטבות ו\או קבלת הטבות , לרבות הטבות כסכום ספי, לאמצעי תשלום אחר ו\או אפשרות גישה לאפליקציה
            ושימוש בה, וכלל השירותים הנותנים באמצעותה לרבות אלו הנותנים על ידי צדדים שלישיים, ככלל, החברה תודיע למשתמש
            על הקפאת השירות ועל הטעמים להקפאה , וזאת למעט במקרים שבהם מסירת הודעה כאמור תסכל מאת מטרת ההקפאה (כגון במקרה
            של הונאה וכו ) .</p>

        <p class="text-right">8.4&nbsp; אין בהקפאת השירות ו\או בהתנתקות מן השירות ו\או בסיום ההתקשרות על ידי
            המשתמש&nbsp; או החברה כדי לגרוע מזכויות והתחייבויות המשתמש והחברה, ביחס לכל פעולה שבוצעה לפני סיום ההתקשרות.
            וכן מהתחייבויות המשתמש על פי תנאי השימוש, אלא אם סוכם אחרת. </p>

        <p class="text-right"><strong>9. עמלות ותשלומים נוספים</strong></p>

        <p class="text-right">9.1 החברה שומרת לעצמה את הזכות לגבות תשלומים ו\או עמלות בגין השימוש בשירות , כולו או חלקו,
            בשיעורים ובמועדים כפי שתחליט מעת לעת ותודיע על כך , הכל בכפוף לדין. בנוסף , מובהר כי יתכן ויחולו על המשתמש
            חיובים על ידי צדדים שלישיים בגין שימוש ברשת אינטרנט ו\או חיובים הקשורים לחברות הסלולר ו\או חיוב על ידי חברות
            כרטיסי החיוב ו\או על ידי החברה בו מתנהל חשבון המשתמש בהתאם לתנאי החשבון , הכל בהתאם להתקשרות בין המשתמש
            לאותם צדדים שלישיים. </p>

        <p class="text-right">9.2 נכון למועד זה , בגין כל העברה של הטבה תהיה זכאית החברה לעמלה בסך 6 ₪ .</p>

        <p class="text-right">9.3 נכון למועד זה בגין פתיחת ארנק אלקטרוני תהיה זכאית החברה לעמלה בסך 50 ₪ .</p>


        <p class="text-right"><strong>10. אחריות החברה והגבלת השימוש בשירות </strong></p>

        <p class="text-right">10.1 האפליקציה בכללותה, לרבות השירותים המוצעים בה, התכנים המופיעים בה והתוכנה העומדת
            בבסיסה, ניתנים לשימוש כמות שהם (AS IS -AS AVAILABLE&nbsp; )</p>

        <p class="text-right">וללא כל התחייבות או הצהרה מצד החברה. השימוש באפליקציה, ובשירותים המוצעים נעשה על אחריות
            המשתמש בלבד והוא מודע לכך שאינו חייב להשתמש בשירותים אלו. החברה לא תישא בכל אחריות כלפי המשתמשים וכלפי צדדים
            שלישיים בכל הנוגע לכל העברה אשר במסגרתה נעשה שימוש בשירותים המוצעים של החברה לרבות בכל הנוגע למטרות ההעברה .
            בנוסף, לא תחול על החברה כל אחריות במקרה של הזנת פרטי חשבון או כרטיס חיוב לא מדויקים, או שמספר הטלפון של
            הנמען שהוזן על ידי משתמש אינו נכון והחברה לא תישא בכל נזק ישיר או עקיף שייגרם עקב כך.</p>


        <p class="text-right">10.2 מבלי לגרוע מהאמור לעיל : </p>

        <ul>
            <li class="text-right">החברה אינה ולא תהיה צד לכל עסקה בין משתמשים באפליקציה. האפליקציה מהווה אך ורק
                פלטפורמה לביצוע העברת הטבות לפי שיקול דעתנו המלא של המתמשים בהתאם לתנאי השימוש.</li>
            <li class="text-right">העברת הטבות עשויה להיות כרוכה במעורבותם של פסקי שירותים נוספים.</li>
        </ul>

        <p class="text-right">החברה אינה אחראית לפעילותם של גורמים אלה <u>ובלבד שתפעל לניהול סיכוני מיקור חוץ
                בהתאם לדרישות הרגולטוריות הרלוונטיות.</u></p>

        <p class="text-right">10. המשתמש מתחייב שלא לעשות על פעולה המכוונת או עלולה לפגוע באפליקציה , בשירותים או
            במשתמשים אחרים. </p>

        <p class="text-right">10.4 החברה רשאית לקבוע מעת לעת תנאים נוספים או חלופיים , ביחס לשירותים מסוימים או
            לפעילות מול צדדים מסוימים.</p>

        <p class="text-right"><strong>11. מסירת מידע ושימוש בו : פרטיות </strong></p>

        <p class="text-right">11.1 המשתמש מאשר כי קרא בעיון את מדיניות הפרטיות שמיישמת החברה בקשר לאפליקציה
            ולשימוש בה המהווה חלק מתנאי השימוש, ומסכים לאמור בה , לרבות בכל הנוגע לשימושים המותרים במידע. מדיניות
            הפרטיות מתעדכנת מעת לעת והמשתמש נדרש&nbsp; להתעדכן בשינויים בה.</p>

        <p class="text-right">11.2 המשתמש מאשר בזה, מראש, כי החברה תהיה רשאית לשלוח הודעות, ולבצע פניות ובירורים
            אשר נדרשים לדעת החברה לצורך מתן השירותים, באמצעי תקשורת אלקטרוניים &ndash; כגון SMS&nbsp;
            &nbsp;&nbsp;ודוא&quot;ל).</p>

        <p class="text-right">11.3 על החברה חלות הוראות דין שונות המחייבות אותה לשמור מידע לתקופות מוגדרות ולצידן
            גם מוגבלות טכנולוגיות ולכן ייתכן שלא תוכל למחוק מידע שנצבר לגבי משתמש ולגבי פעולות שביצע באפליקציה</p>

        <p class="text-right"><strong>12. קניין רוחני </strong></p>

        <p class="text-right">12.1 מלוא זכויות הקניין (לרבות זכויית קניין רוחני ) באפקליציה הינן של החברה או של
            צדדים שלישיים בלבד, לפי העניין והמשתמש מתחייב שלא להפר את זכויות החברה או צדדים שלישיים כאמור בכל צורה שהיא
            . מבלי לגרוע מהאמור &ndash; אין להעתיקם, להפיצם , להציגם בפומבי או למוסרם לצד שלישי או כל חלק מהם ואין לבצע
            כל שינוי באפליקציה : אין לעשות כל ימוש מסחרי בנתונים או בפרטים שבאפליקציה: אין לעשות כל שימוש בשם &quot;
            יאסו &quot; ו\או בסימני המסחר המופיעים באפליקציה.</p>

        <p class="text-right">12.2 תנאי שימוש אלה מהווים רישיון לשימוש באפליקציה , שהינו רישיון מוגבל, ניתן
            לביטול אישי , לא- בלעדי ובלתי ניתן להעברה. הרישיון מאפשר אך ורק שימוש הוגן וסביר , שאינו מפר הוראות דין,
            ונעשה לצורך שימוש בשירות בלבד ולא לצורך כל מטרה אחרת, והכל בהתאם לתנאי שימוש אלה.</p>

        <p class="text-right"><strong>13. מיסים ודיווחים </strong></p>

        <p class="text-right">13.1 משתמש שהינו צד לפעולה שבוצעה באמצעות האפליקציה , הינו אחראי לפעול על פי דין .
            ובכלל זה , המשתמש הוא האחראי לכל תשלום מס ו\או חיוב הנובע מכל העברה שביצע או העברה שקיבל באמצעותה וכל דיווח
            הנדרש על פיכ כל דין בקשר להעברה , והחברה אינה אחראית לכל אלה. אין באמור לעיל כדי לגרוע מאחריותו של צד שלישי,
            לקיום חובותיו לגבי תשלומים שקיבל ו\או שילם.</p>

        <p class="text-right">13.2 ככל שההעברה שמצבע המשתמש חייבת בניכוי מס במקור או בכל מס אחר (לרבות מע&quot;מ
            ) , החבות , הניכוי והדיווח יעשו ע&quot;י המשתמש בלבד ויהיו באחריותו הבלעדית והמלאה.</p>

        <p class="text-right">13.3 החברה רשאית לנכות מס במקור מכל העברה המבוצעת באמצעות האפליקציה למשתמש , מכל
            סיבה שהיא וזאת ככל שהחברה סבורה כי היא מחויבת או זכאית לעשות זאת, על פי דין.</p>


        <p class="text-right">13.4 ידוע למשתמש והוא מסכים מראש לכך שהחברה רשאית למסור פרטים ודיווחים שונים
            לרשויות בישראל ובחול (לרבות רשום המיסים ) בגין פעילותיו ובגין פעולות של המשתמשים האחרים, וכן בגין הכנסות ,
            רווחים, תשלומים והעברת הטבות שלו ושל המשתמשים האחרים. </p>






        <p class="text-right"><strong>14.</strong><strong>שונות </strong></p>

        <p class="text-right">14.1 כל פעולה&nbsp; שהחברה תבצע בהתאם להוראות המשתמש תחייב את המשתמש ורישומי החברה
            בדבר פרטי המשתמש והפעולות שביצע או שביקש לבצע, לרבות באמצעות האפקליציה , יהוו ראיה קבילה לנכונות האמור בהם.
        </p>

        <p class="text-right">14.2 אם מסיבה כלשהי , תנאי כלשהו מתנאי השימוש ייקבע כבלתי תקף או כבלתי אכיף ,תוקפם
            ונפקותם של יתר תנאי השימוש לא ייפגעו.</p>

        <p class="text-right">14.3 החברה תהיה רשאית להמחות להסב או להעביר את זכויותיה או התחייבויתיה , על פי תנאי
            השימוש. כולן או חלקן , לכל צד שלישי , אולם לא יהיה באמור כדי לפגוע בזכויות משתמש בקשר עם הטבות שהופקדו לזכות
            חשבונו, הכל כמפורט בתנאי השימוש.</p>

        <p class="text-right">14.4 המשתמש אינו רשאי להמחות, להעביר , להסב או לשעבד את זכויותיו והתחייבותיו בקשר
            לחשבונו האישי באפקליציה או חלק מהן, או מכוח תנאי שימוש אלה או על הסכם אחר החל על השימוש באפליקציה , לכל צד
            שלישי שהוא.</p>

        <p class="text-right">14.5 כל הפעילות באפליקציה ובכל הקשור והכרוך בה, לרבות תנאי השימוש , יוכפפו אך ורק
            לדיני מדינת ישראל. סמכות השיפוט המקומית מוקנית לבית המשפט המוסמך , מבחינה עניינית , בעיר תל אביב יפו.</p>

        <p class="text-right">14.6 האמור בתנאים אלה מתייחס באופן שווה לנשים ולגברים , והשימוש זכר נעשה מטעמי
            נוחות בלבד.</p>



    </div>

</body>

</html>